body {
  background-color: #eee;
}

.container {
  margin-top: 2em;
}

blockquote {
  border: none;
  font-style: italic;
  margin-top: 1em;
  text-align: center;
}

.logo.img-responsive {
  display: inline-block;
}
