body {
  background-color: #eee;
}

h1,
.jumbotron h1 {
  color: #bc4349;
  font-family: 'Audiowide', cursive;
}

blockquote {
  border: none;
  font-style: italic;
  margin-top: 1em;
  text-align: center;
}

.logo.img-responsive {
  display: inline-block;
}

.navbar-inverse .navbar-brand.active,
.navbar-inverse .navbar-brand.active:hover {
  background-color: #080808;
}

.navbar-brand span {
  background: transparent url(/img/logo/menu.png) no-repeat center top;
  display: inline-block;
  height: 20px;
  text-indent: -999px;
  width: 12px;
}

.navbar-brand.active span,
.navbar-brand:hover span {
  background-position: center bottom;
}
