extends ../layouts/base.pug

block content
  .jumbotron.text-center
    h1.sr-only Smaesh
    img.logo.img-responsive(
      alt='Logo'
      src='/img/logo/main.png'
    )
    span.sr-only Pronounced in any of the following ways:
    ul.list-inline
      li [smæʃ]
      li [smi:ʃ]
      li [smeɪi:ʃ]
    blockquote *Probably* the most loved, swimming pool based sport
